/* src/components/Chat.css */
.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f3f3f3;
}

.header {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.message-box {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.chat-message {
  margin: 0.5rem 0;
}

.input-box {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.skip-btn, .input-box button {
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.skip-btn {
  background-color: #6c63ff;
  color: white;
}

.input-box input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 0.95rem
}

.input-box button {
  width: 80px;
  background-color: #6c63ff;
  color: white;
  font-size: 0.9rem
}

.input-box button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
