/* src/components/Chat.css */

*{
  padding: 0%;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f3f3f3;
}

.header {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.message-box {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.chat-message {
  display: flex; /* Maintains flex layout if needed */
  align-items: center; /* Aligns items at the start */
  margin: 0.8rem 0; /* Spacing between messages */
  color: #615EF0;
  font-size:15px;
}

.message-text {
  display: inline-block; /* Ensures the message text wraps correctly */
  padding: 10px 16px; /* Optional padding */
  border-radius: 12px; /* Optional rounded corners */
  background-color: #e0e0e0; /* Optional background color */
  margin-left: 10px;
  font-size:17px;

  color: #ffffff;


  background: #615EF0; /* Background color */
  border-radius: 12px; /* Rounded corners */
}



.input-box {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.skip-btn, .input-box button {
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.skip-btn {
  background-color: #6c63ff;
  color: white;
}

.input-box input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 0.95rem
}

.input-box button {
  width: 80px;
  background-color: #6c63ff;
  color: white;
  font-size: 0.9rem
}

.input-box button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
